In [1]:
import pandas as pd
import bs4
import requests
import time

In [2]:
df_list = []
url = 'https://basketball.realgm.com/nba/team-stats/%i%s/Team_Totals/Regular_Season'
for i in range(2005, 2023):
    avg_url = url % (i, "/Averages")
    adv_url = url % (i, "/Advanced_Stats")
    misc_url = url % (i, "/Misc_Stats")
    avg = pd.DataFrame(pd.read_html(avg_url)[0]).drop(columns = "#")
    adv = pd.DataFrame(pd.read_html(adv_url)[0]).drop(columns = "#")
    misc = pd.DataFrame(pd.read_html(misc_url)[0]).drop(columns = "#")
    temp1 = pd.merge(avg, adv, how = 'left', on = ['Team'])
    temp2 = pd.merge(temp1, misc, how = 'left', on = ['Team'])
    temp2["Season"] = i
    df_list.append(temp2)
    time.sleep(3)

In [3]:
df = pd.concat(df_list).drop(columns = ['Dbl Dbl', 'Tpl Dbl', '40 Pts', '20 Reb', '20 Ast', 
                                         '5 Stl', '5 Blk', 'High Game', 'Techs'])
df

,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,3PA,3P%,...,Pace,MOV,HOB,Ast/TO,Stl/TO,FT/FGA,W's,L's,Win %,Season
0,Phoenix,82,48.2,110.4,40.9,85.6,0.477,9.7,24.7,0.393,...,95.9,7.1,1.575,1.7,0.5,0.222,62,20,0.756,2005
1,Sacramento,82,48.4,103.7,39.1,85.1,0.459,6.4,17.0,0.374,...,93.0,2.2,1.626,1.9,0.6,0.226,50,32,0.610,2005
2,Dallas,82,48.1,102.5,37.3,81.6,0.457,5.6,15.5,0.364,...,92.7,5.7,1.526,1.5,0.6,0.273,58,24,0.707,2005
3,Miami,82,48.7,101.5,37.8,77.7,0.486,5.8,15.4,0.377,...,90.8,6.5,1.578,1.6,0.5,0.260,59,23,0.720,2005
4,Boston,82,48.5,101.3,37.1,79.4,0.468,5.3,15.3,0.349,...,93.2,0.9,1.594,1.4,0.5,0.273,45,37,0.549,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,New York,82,48.2,106.5,37.7,86.2,0.437,13.2,36.9,0.357,...,95.9,-0.1,1.581,1.7,0.5,0.208,37,45,0.451,2022
26,Portland,82,48.1,106.2,38.5,87.1,0.442,12.7,36.8,0.346,...,98.2,-8.9,1.595,1.6,0.6,0.188,27,55,0.329,2022
27,Detroit,82,48.2,104.8,38.2,88.6,0.431,11.3,34.6,0.326,...,98.3,-7.7,1.615,1.7,0.5,0.194,23,59,0.280,2022
28,Orlando,82,48.2,104.2,38.3,88.3,0.434,12.2,36.9,0.331,...,99.2,-8.0,1.620,1.6,0.5,0.175,22,60,0.268,2022
29,Oklahoma City,82,48.3,103.7,38.3,89.1,0.430,12.1,37.4,0.323,...,98.5,-8.1,1.580,1.6,0.5,0.169,24,58,0.293,2022

In [5]:
df = df.replace("Seattle", "Oklahoma City", regex = True)
df = df.replace("New Jersey", "Brooklyn")

In [11]:
df['Team'].value_counts()

Boston           18
Brooklyn         18
San Antonio      18
Chicago          18
Atlanta          18
Memphis          18
Denver           18
Phoenix          18
Portland         18
L.A. Lakers      18
Utah             18
Toronto          18
L.A. Clippers    18
Orlando          18
Dallas           18
Detroit          18
Houston          18
Miami            18
Oklahoma City    18
Minnesota        18
Philadelphia     18
Indiana          18
Golden State     18
New York         18
Cleveland        18
New Orleans      18
Washington       18
Sacramento       18
Charlotte        18
Milwaukee        18
Name: Team, dtype: int64

In [12]:
df.to_csv('./Data/NBATeams.csv')